doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='images/posvaicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css')

  body

    include ../../utils/utils.jade

    article
      section
        h1 Debugging & stuff
        div.bottom
          a.pull-right.icon-link(href='https://github.com/posva')
            img.icon(src='images/githubicon.svg')
            span posva

      +section('debug-screen.png')
        h1 Client side

      +full('hi-spiderman.jpg')

      section
        h3.bullet Loggers
        ul
          li
            code console.log('foo:', foo);

      +full('fatvenom.jpg')

      +section('debug-client.png')
        h3.bullet Debuggers
        ul
          li
            code debugger;
          li breakpoints

      +section('server-debug.png')
        h1 Server side

      +full('uwot.png')

      section
        h1 Lancer en debug
        h3
          code coffee --nodejs --debug server/server.coffee

      section
        h1 Lancer le debugger
        h3.bullet
          code node-inspector
        h3.bullet
          span Vagrant:
          code node-inspector --web-host=199.199.199.42 -p 10100 --preload=false

      +section('sadvenom.jpg')
        h2 Happy Debugging !

    script(src='build/build.js')
