// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'bespoke-substeps/style.css'

@import 'nib' // CSS3 extensions for Stylus: http://visionmedia.github.io/nib/
@import 'prismjs/themes/prism.css'
@import 'prismjs/plugins/line-highlight/prism-line-highlight.css'
.line-highlight
  margin-top: 0.2em

@import '../../../utils/utils'

// variables!

primary = #4FC08D
slide_background = white
text_color = #2C3E50
emphatic_text = text_color
emhatic_slide_background = #4FC08D

slide_width = 80%
slide_height = 600px

slide_transition_length = .6s
slide_transition_easing = ease
slide_transition_rotate_y = 20deg
// Safari bugs out on 3d transform-origins, so we have to fake it
slide_transition_nudge_x = -640px

bullet_transition_length = .3s
bullet_transition_easing = ease

spacer_gif = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    print-color-adjust: exact

@page
  size: landscape
  margin: 0

article
  transition: all .3s ease
  display: none
  color: text_color
  &.bespoke-parent
    display: block
    background: slide_background
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    perspective: 600px
    @media print
      overflow: visible
      position: static

section

  h1, h2
    text-transform: initial
    code
      font-size: 80%

  li
    &::before
      content: none

  *
    z-index: 1

  li h3
    display: inline-block


.bespoke-slide
  transition:
    transform slide_transition_length slide_transition_easing,
    opacity slide_transition_length slide_transition_easing,
    background slide_transition_length slide_transition_easing
  transform-origin: 50% 50% 0
  transform: translate3d(0,0,0)
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  border-radius: 0
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-before
  transform: translateX(slide_transition_nudge_x * -1) translateX(slide_width / -2) rotateY(slide_transition_rotate_y * -1) translateX(slide_width / -2)

.bespoke-after
  transform: translateX(slide_transition_nudge_x) translateX(slide_width / 2) rotateY(slide_transition_rotate_y) translateX(slide_width / 2)
  @media print
    transform: none

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1
  transition-delay: .2s

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

//.bespoke-bullet-inactive
  //opacity: 0
  //li&
    //transform: translateX(-10px) translateZ(-10px) rotateY(20deg)
  //@media print
    //opacity: 1

//.bespoke-bullet-active
  //opacity: 1

//// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .bespoke-active
    pointer-events: auto
  @media print
    transform: none !important

// bespoke-progress styles

.bespoke-progress-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 5px
  @media only screen and (min-width: 1366px)
    height: 4px
  @media print
    display: none

.bespoke-progress-bar
  transition: width .6s ease
  position: absolute
  height: 100%
  background: primary

// bespoke-state styles

.emphatic
  background: emhatic_slide_background
  color: emphatic_text
section[data-bespoke-backdrop='emphatic']
  //zoom: 1.3
  p, h1, h2, h3, h4, h5, h6, span
    color: emphatic_text
  a
    color: white

.bespoke-backdrop-active
  opacity: 1

// prism styles

:not(pre) > code[class*="language-"]
  margin-left: 0.5em

pre[class*="language-"]
 padding: 0

body
  background: #303030
  font-weight: 300
  font-size: 23px
  color: text_color
  .gif
    color: rgba(255,255,255,0.8)
  .bespoke-slide.light
    color: rgba(0,0,0,0.5)

body, .bespoke-parent
  //font-family: open sans, helvetica, arial, sans-serif
  font-family: "Dosis","Source Sans Pro","Helvetica Neue",Arial,sans-serif
  color: text_color

h1
  font-size: 2.35em
  font-weight: 600
  line-height: 82px
  letter-spacing: -2px
  margin-bottom: 16px

h1.no-padding
  padding: 0

h2
  font-weight: 300
  font-size: 1.75em
  letter-spacing: -1px
  margin-bottom: 8px
  .bespoke-slide.light &
    color: rgba(0,0,0,0.6)

h3
  font-family: "Dosis","Source Sans Pro","Helvetica Neue",Arial,sans-serif
  font-size: 1.25em
  font-weight: 300
  margin-bottom: 24px
  color: lighten(text_color, 10%)
  .bespoke-slide.light &
    color: rgba(0,0,0,0.5)

//hr
  //visibility: hidden
  //height: 20px

//ul
  //list-style: none

//li
  //margin-bottom: 12px

//p
  //margin: 0 100px 12px
  //line-height: 1.3em

//blockquote
  //max-width: 75%

.full-text, .full
  color: white

a
  color: primary
  text-decoration: none
  border-bottom: 0
  &.black
    color: black
  .bespoke-slide.light &
    color: rgba(0,0,0,0.7)
  .bespoke-slide.light h1 &
    color: primary

#v-for
  ul li
    width: 0.25em
    margin: auto
pre.no-line-number .line-highlight:before
  content: ''

.expand-transition
  transition: all .3s ease
  width: 100%
  height: 220px
  overflow: hidden
  opacity: 1
.expand-enter, .expand-leave
  height: 0
  opacity: 0
