doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='../common/posvaicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Code+Pro|Dosis:300,500' rel='stylesheet' type='text/css')

  body

    include ../../utils/utils.jade

    article
      section
        h1.thin
          img.block.center(src='images/vue-logo.png')
          span Vue
          small .js
        h2 Data-reactive web components
        .notes
          Librarie pour faire des interfaces web reactives oriente web components

      +full('manufacturing.gif')
        h1 Un autre MVVM ?!
        .notes
          Tres souvent la premiere reaction des gens quand je leur parle de Vue
          est 'Un autre MVVM' et il fait quoi de mieux

      section
        h2 Pourquoi Vue ?
        ul.bullet
          li Performant
          li Facile à utiliser
          li Communauté très active

      section
        h1 Le ViewModel

      section
        h1 Les directives

      section
        h1 Les components

      section
        h2 Inline code
          code.language-javascript var a;
        p This is a paragraph

      section
        a(href='#') Some link

      section
        h2 Code
        .row.align-center
          .even
            pre
              code.language-markup.
                &lt;div id="hello-world"&gt;
                  &lt;input v-model="value" type="text" /&gt;
                  &lt;span&gt;{{value}}&lt;/span&gt;
                &lt;/div&gt;
            pre
              code.language-javascript.
                new Vue({
                  el: '#hello-world',
                  data: {
                    value: 'Hello World'
                  }
                });
          .even
            #hello-world
              input(v-model='value' type='text')
              span {{value}}

      section
        h2 Code long line
        pre
          code.language-coffeescript.
            a = 3
            b = ->
              thisIsASuperLongNameForAFunctionNobodyWillEverType()

      section
        h3 Vue format
        pre
          code.language-css.
            h1 {
              color: red;
            }

      section(data-bespoke-backdrop='emphatic')
        h2 This is a paragraph
        a(href='#') Some link

      section
        h4 H4 title
        p This is a paragraph

      section
        h2 H2 title
        ul
          li element 1
          li element 2
          li element 3

      +full('flamingo-hello.gif')
        h2 Happy Talk!

    script(src='build/build.js')
