doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='../common/posvaicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Code+Pro|Dosis:300,500' rel='stylesheet' type='text/css')

  body

    include ../../utils/utils.jade

    article
      section
        h1.thin.no-padding
          img.block.center(src='images/vue-logo.png')
          span Vue.js
        h2 Data-reactive web components
        .notes
          Librarie pour faire des interfaces web reactives oriente web components

      +full('manufacturing.gif')
        h1 Un autre MVVM ?!
        .notes
          Tres souvent la premiere reaction des gens quand je leur parle de Vue
          est 'Un autre MVVM' et il fait quoi de mieux

      section
        h2 Vue aujourd'hui
        ul.no-bullet
          li Version stable: 0.12
          li Version 1.0 en route
          li Version Alpha et Beta disponible
        .notes.
          La version alpha est faite pour faire la transition car elle affiche
          des warning de fontionnalités qui sont deprecated tandis que la beta
          est une pre release de la v1

      section
        h2 Pourquoi Vue ?
        ul.bullet
          li Equilibre Performance – Usabilité
          li Orienté Components
          li Communauté très active !
        .notes.
          Il est difficile de faire quelquechose d'efficace mais qui soit pratique à utiliser
          C'est le cas de react. Angular 1 est à l'opposé
          Issues crées tous les jours (un peu moins les we) et tout le monde qui répond
          chat Gitter pour discuter ou demander de l'aide
          Documentation solide

      section
        h2 Hello World
        .row.flex-align-center
          .even
            pre
              code.language-markup.
                &lt;div id="hello-world"&gt;
                  &lt;input v-model="value" type="text"/&gt;
                  &lt;p&gt;{{value}}&lt;/p&gt;
                &lt;/div&gt;
            pre
              code.language-javascript.
                new Vue({
                  el: '#hello-world',
                  data: {
                    value: 'Hello World'
                  }
                });
          .even.row.flex-align-center
            #hello-world
              input(v-model='value' type='text')
              p {{value}}

      +full('vocabulary.gif')
        h1 Le Vocabulaire
        .notes.
          Anvant de rentrer un peu plus dans les details de vue on va parler des
          principaux termes utilisés. Il y en a pas beaucoup :D

      section
        h2 Les Directives
        ul.no-bullet
          li
            code v-model
            span ,&nbsp;
            code v-if
            span , ...
          li Custom directives
            small (ne commencent pas forcemment par v-)
        span.bullet
        pre.bullet
          code.language-markup.
            &lt;input v-model="value" type="text"/&gt;
        .notes.
          Tous les v- et les custom directives sont des directives
          v-model est une directive mais type ne l est pas

      section
        h2 Le View Model (
          code vm
          span )
        p View ⇆ Model
        span.bullet
        pre.bullet
          code.language-javascript.
            new Vue({...});
        .notes.
          Le vm se charge de sync les données avec la vue
          La vm est crée quand on instancie une Vue
          Elle a toute la logique et ne comporte pas de manipulation du DOM(faites dans les
          directives)

      section
        h2 Les filtres
        pre
          code.language-markup.
            &lt;p&gt;{{msg | capitalize}}&lt;/p&gt;
        .notes.
          surement connu ils permettent de changer les données avant qu'elles
          soient passées à la view

      +full('spider-fight.gif')
        h1 Fontionnalités classiques
        .notes les impasses, mais avant on va parler des concepts de base de vue

      section
        h2 Le&nbsp;
          code v-show
          span /
          code v-if
        .row
          .even
            pre.no-line-number(data-line='6')
              code.language-markup.
                &lt;div id="v-show"&gt;
                  &lt;input v-model="show" type="checkbox"/&gt;
                  &lt;span&gt;
                    {{show ? 'Hide the bear' : 'Show the bear'}}
                  &lt;/span&gt;
                  &lt;img v-show="show" src="images/bear-hello.gif"/&gt;
                &lt;/div&gt;
            pre
              code.language-javascript.
                new Vue({
                  el: '#v-show',
                  data: {
                    show: false
                  }
                });
          .even
            #v-show
              .block
                input(v-model='show' type='checkbox' id='v-show-check')
                label(for='v-show-check') {{show ? 'Hide the bear' : 'Show the bear'}}
              img(v-show='show' src='images/bear-hello.gif')

      section
        h2 Le&nbsp;
          code v-for
        .row
          .even
            pre(data-line='3')
              code.language-markup.
                &lt;div id="v-for"&gt;
                  &lt;ul&gt;
                    &lt;li v-for="item in items"&gt;{{item}}&lt;/li&gt;
                  &lt;/ul&gt;
                &lt;/div&gt;
            pre
              code.language-javascript.
                new Vue({
                  el: '#v-for',
                  data: {
                    items: [0, 1]
                  }
                });
          .even
            #v-for
              p There are {{items.length}} elements
              button(@click='items.push(items.length)') Push
              button(@click='items.pop()') Pop
              ul.row.flex-flow-wrap.flex-justify-start
                li(v-for='item in items') {{item}}

      section
        h2 Le&nbsp;
          code v-transition
        .row
          .even
            pre
              code.language-markup.
                &lt;div v-if="show" transition="expand"&gt;
                  &lt;img src="images/bear-hello.gif"/&gt;
                &lt;/div&gt;
            pre
              code.language-css.
                .expand-transition {
                  transition: all .3s ease;
                  height: 220px
                  overflow: hidden;
                }
                .expand-enter, .expand-leave {
                  height: 0;
                  opacity: 0;
                }
          .even
            #v-transition
              .block
                input(v-model='show' type='checkbox' id='v-transition-check')
                label(for='v-transition-check') {{show ? 'Hide the bear' : 'Show the bear'}}
              div(transition="expand" v-if='show')
                img(src='images/bear-hello.gif')

      section
        h2 Les Events
        pre
          code.language-markup.
            &lt;input v-on:change="handle()"/&gt;
            &lt;input @change="handle()"/&gt;
        .notes.
          Vue js est fonctionne avec des events en interne. On peut emmettre
          des evenements sur des components qui remontent vers les parents

      section
        h2 Les filtres
        .row.flex-align-center
          .even
            pre
              code.language-markup.
                &lt;div id="filters"&gt;
                  &lt;p&gt;{{obj | json}}&lt;/p&gt;
                &lt;/div&gt;
            pre
              code.language-javascript.
                new Vue({
                  el: '#filters',
                  data: {
                    obj: {
                      bool: true,
                      arr: [1, 2],
                      inner: {
                        a: null
                      }
                    }
                  }
                });
          .even
            #filters
              p {{obj | json}}
        .notes.
          quand on veut modifier les données avant de les afficher
          on peut les chainer les un à la suite des autres
          On peut passer des argument
          et on peut bien sur creer ses propres filtres

      +full('over.gif')
        h1 C'est tout ?
        ul.bullet
          li
            a(href='https://github.com/vuejs/vue-router') vue-router
          li
            a(href='https://github.com/vuejs/vue-resource') vue-resource
          li
            a(href='https://github.com/vuejs/vue-validator') vue-validator
        .notes.
          Il manque bien sur plein de trucs. c'est pour ca que lon utilise des plugins.
          On evite de construire une usine a gaz

      +full('conventions.gif')
       h1 Les Conventions
       .notes.
        elles sont la pour faire que le dev n'ai pas a se poser de questions
        lorsqu'il doit écrire du code.
        réactif = prend une expression

      section
        h2 Les Directives sont réactives
        pre
          code.language-markup.
            &lt;a v-link.literal="/foo"&gt;Go to foo&lt;/a&gt;

      section
        h2 Les Attributs sont non réactifs
        pre.bullet
          code.language-markup.
            &lt;img v-bind:src="user.picture"/&gt;
            &lt;img :src="user.picture"/&gt;
        pre.bullet
          code.language-markup.
            &lt;contact-card :contact="user"&gt;&lt;/contact-card&gt;
        .notes.
          vue sait que c'est un lien et qu'il faut faire une requete

      section
        h2 le mustache binding...
        p n'est permis que dans les noeuds ou les attributs natifs
        pre
          code.language-markup.
            &lt;img src="{{imgUrl}}"/&gt;
            &lt;p&gt;URL is {{imgUrl}}&lt;/p&gt;

      +full('playstation.gif')
        h1 Component System

      section
        h2 Les Avantages
        ul.bullet
          li DRY
            small (Don't repeat yourself)
          li Meilleure Structuration
          li Relecture Facile
        .notes.
          j'ai parlé tout à l'heure des components comme un avantage. mais pourquoi
          ça incite la refacto car on peut bien commencer par un component qui contient tout
          Puis au fur et a mesure que l'appli avance on se rend compte que certain composants
          peuvent etre reutilisés

      section.more-space
        h2 Tout dans une seule page
        pre
          code.language-markup.
            &lt;div id="contacts"&gt;
              &lt;form id="contacts-search" @submit="fetchResults()"&gt;
                &lt;input v-model="search" type="text"/&gt;
                &lt;button type="submit"&gt;Search&lt;/button&gt;
              &lt;/form&gt;
              &lt;div id="contacts-results" class="contacts-grid"&gt;
                &lt;div class="contacts-card row" v-for="contact in contacts"&gt;
                  &lt;img :src="contact.imgUrl" class="contacts-img col-4"/&gt;
                  &lt;div class="contacts-info col-8"&gt;
                    &lt;span&gt;{{contact.firtsName}} {{contact.lastName}}&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;

      section
        h2 Components search et contact-list
        pre.no-line-number(data-line='2,3')
          code.language-markup.
            &lt;div id="contacts"&gt;
              &lt;search id="contacts-search" :submit="fetchResults"&gt;&lt;/search&gt;
              &lt;contact-list id="contacts-results" :contacts="contacts"&gt;
              &lt;/contact-list&gt;
            &lt;/div&gt;
        .notes
          On garde encore certains liens de données dans la vue pricipale

      section
        h2 Componentception:&nbsp;
          code contact-list
        pre(data-line='3')
          code.language-markup.
            &lt;div class="contacts-grid"&gt;
              &lt;contact-card v-for="contact in contacts"
                :contact="contact"&gt;
              &lt;/contact-card&gt;
            &lt;/div&gt;

      section
        h2 Flow de données
        ul.no-bullet
          li Props/Attributs: données vers les enfants
          li Custom Events: données vers les parents
        span.bullet
        p.bullet ⚠ Les custom events ne marchent que dans des components
        pre.bullet
          code.language-markup.
            &lt;search-results @ready="resultsReload()"&gt;&lt;/search-results&gt;
        .notes.
          les custom events vm.$emit permettent de communiquer avec les parents depuis un composant
          enfant.


      section
        h2 Binding modes
        ul.bullet
          li
            code :prop='defaultOneWay'
          li
            code :prop.sync='twoWay'
          li
            code :prop.once='oneTime'
        pre.bullet
          code.language-markup.
            &lt;mdl-checkbox :checked.sync="confirm"&gt;Confirm&lt;/mdl-checkbox&gt;
        .notes.
          Le sync est tres utile lorsque l'on crée des composants tels que des checkboxs

      section
        h2 Données asynchrones
        p Émettre un event dans le component lui même
        pre
          code.language-markup.
            &lt;contact-card wait-for="data-loaded" :contact="contact"&gt;&lt;/contact-card&gt;

      section
        h2 Les Hooks
        p
          code created, beforeCompile, compiled, ...
        pre
          code.language-javascript.
            ready: function() {
              componentHandler.upgradeElement(this.$el);
            }

      +full('vue-format.gif')
        h1 Le format&nbsp;
          code.shadow .vue
        .notes.
          il y a du template, du js et meme du style

      section
        h2 Inline template
        pre
          code.language-javascript.
            var MyComponent = Vue.extend({
                template: '<p>A custom component!</p>'
            });

      section.more-space
        h2 Regrouper le template HTML avec le js
        pre
          code.language-markup.
            &lt;template&gt;
              &lt;div class="contacts-card row" v-for="contact in contacts"&gt;
                &lt;img :src="contact.imgUrl" class="contacts-img col-4"/&gt;
                &lt;div class="contacts-info col-8"&gt;
                  &lt;span&gt;{{contact.firtsName}} {{contact.lastName}}&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/template&gt;
          br
          code.language-markup.
            &lt;script&gt;
          br
          code.language-javascript.
            module.exports = {
              props: {
                contact: {
                  type: String,
                  required: true
                }
              }
            };
          br
          code.language-markup.
            &lt;/script&gt;

      section.more-space
        h2 Regrouper le template Jade avec le Coffee
        pre
          code.language-markup.
            &lt;template lang="jade"&gt;
          br
          code.language-jade.
              .contacts-card.row(v-for'contact in contacts')
                img.contacts-img.col-4(v-bind:src='contact.imgUrl')
                .contacts-info.col-8
                  span {{contact.firtsName}} {{contact.lastName}}
          br
          code.language-markup.
            &lt;/template&gt;
          br
          code.language-markup.
            &lt;script lang="coffee"&gt;
          br
          code.language-coffeescript.
            module.exports =
              props:
                contact:
                  type: String
                  required: true
          br
          code.language-markup.
            &lt;/script&gt;

      section.more-space
        h2 Ajouter le style aussi
        pre
          code.language-markup.
            &lt;template lang="jade"&gt;
          br
          code.language-jade.
            ...
          br
          code.language-markup.
            &lt;/template&gt;
          br
          code.language-markup.
            &lt;style lang="stylus"&gt;
          br
          code.language-jade.
              .contacts-card
                ...
              .contacts-info
                ...
          br
          code.language-markup.
            &lt;/style&gt;
          br
          code.language-markup.
            &lt;script lang="coffee"&gt;
          br
          code.language-javascript.
            ...
          br
          code.language-markup.
            &lt;/script&gt;

      section
        h2 Transformer les&nbsp;
          code .vue
          span  en&nbsp;
          code .js
        ul.no-bullet
          li Browserify:
            a(href='https://github.com/vuejs/vueify') vueify
          li Webpack:
            a(href='https://github.com/vuejs/vue-loader') vue-loader

      section
        h2 Des examples
        ul.no-bullet
          li
            a(href='https://github.com/vuejs/vueify-example') vueify
          li
            a(href='https://github.com/vuejs/vue-loader-example') vue-loader

      section
        h2
          code mdl-checkbox
          span  template
        pre
          code.language-jade.
            label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='{{* id}}')
              input.mdl-checkbox__input(type='checkbox' id='{{* id}}'
                v-model='checked' disabled='{{disabled}}')
              span.mdl-checkbox__label
                slot

      section.more-space
        h2
          code mdl-checkbox
          span  script
        pre
          code.language-coffeescript.
            utils = require 'coffee!./utils.coffee'
            module.exports =
              data: ->
                unwatch: []
              props:
                id:
                  type: String
                  required: true
                checked:
                  type: Boolean
                  required: true
                disabled: Boolean
              ready: ->
                componentHandler.upgradeElement @$el
                @unwatch.push @$watch 'checked', utils.classToggler 'is-checked'
                @unwatch.push @$watch 'disabled', utils.classToggler 'is-disabled'
              beforeDestroy: ->
                @unwatch.forEach (unwatch) -> unwatch()

      +full('end.gif')
        h2.shadow Have Fun!
        .notes.
          Ca sera tout pour cette intro a vuejs. J'espere avoir attire l'attention
          vers ce framework et si c'est le cas je vous conseille de le tester et
          d'aller voir les ressources

    script(src='https://rawgit.com/yyx990803/vue/1.0.0-beta/dist/vue.min.js')
    script(src='build/build.js')
