doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gotta Go Fast: Vim

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='images/posvaicon.png')

  body

    article

      mixin section(back)
        section.full(style='background: url(../images/' + back + ') no-repeat center center; ')
          block

      +section('sonic-running.gif')
        img.logo(src='images/vimlogo.svg')
        h1 Gotta Go Fast
        div.bottom
          a.pull-right.icon-link(href='https://github.com/posva')
            img.icon(src='images/githubicon.svg')
            span posva

      section
        .notes
          p Je suis sur que tout le monde a entendu parler de vim.
          | C'est normal, ça existe depuis 40 ans !
        h2 Vim ?
        h3 Ça me dit quelquechose

      +section('timetravel.gif')
        h1 1976

      section
        h2 Dans la même année
        .row
          .seven.columns
            img.u-max-full-width(src='images/apple1.jpg')
          .five.colums
            h3.bullet Apple 1
            ul
              li Assemblé à la main
              li CPU à 1 Mhz
              li 4 Kb de mémoire
              li 40x24 characters

      +section('vi-screen.png')
        h1 Vi
        h2 Mode visuel pour Ex

      +section('vim-screen.png')
        h1 Vim (1991)
        h2.bullet Clone de Vi
        h2.bullet Ameiloré

      section.iframe
        .notes
          p Bien qu'il soit paru il y a plus de 20 ans il continue à être utilisé
          | Cela est du à l'énorme gain que L'utilisation de Vim aporte à un dev
        script(type='text/javascript'
          src='//www.google.com/trends/embed.js?hl=en-US&q=Vim,+Sublime+Text,+Emacs&date=1/2004+133m&cmpt=q&tz&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=800&h=430')

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      +section('ending.gif')
        h2 Des questions ?

    script(src='build/build.js')
