.free
  position: absolute
  z-index: 2000
  .free-inner
    position: relative
    margin-top: -50%
    left: -50%

img.full
  width: 100%

.icon-link
  img
    max-width: 64px
    margin: auto
    display: block

section
  &.full-text, &.full
    size: 100% 100%
    absolute: top left
    margin: initial
    background-size: cover !important;

  &.full-text::before
    content: ''
    background: rgba(0, 0, 0, 0.6)
    size: 80%
    position: absolute
    left: 10%
    top: 10%
    border-radius: 1em
