mixin section(back)
  section.full-text(style='background: url(images/' + back + ') no-repeat center center; ')
    block

mixin full(back)
  section.full(style='background: url(images/' + back + ') no-repeat center center; ')
    block

mixin csection(back)
  section.full-text(style='background: url(../common/' + back + ') no-repeat center center; ')
    block

mixin cfull(back)
  section.full(style='background: url(../common/' + back + ') no-repeat center center; ')
    block

mixin free(x, y, rot)
  .free(style='left: ' + x + '; top: ' + y + '; transform: rotate(' + rot + ');')
    .free-inner
      block
