article.hide-notes
  .notes
    display: none

//article.show-notes

.free
  position: absolute
  z-index: 2000
  .free-inner
    position: relative
    margin-top: -50%
    left: -50%

img.full
  width: 100%

.icon-link
  img
    max-width: 64px
    margin: auto
    display: block

small
  font-size: 50%

section.more-space
  height: 100%
  top: 30%

.inline
  display: inline

.block
  display: block

.center
  margin: auto

.thin
  font-weight: 300

padRight = 20px
values = zero one two three four five six seven eight nine ten eleven twelve
.row
  display: flex
  flex-basis: 1
  &.flex-align-top
    align-items: flex-start
  &.flex-align-center
    align-items: center
  .even
    flex-grow: 1
  &.flex-flow-wrap
    flex-flow: wrap
  &.flex-justify-start
    justify-content: flex-start

section
  &.full-text, &.full
    size: 100% 100%
    absolute: top left
    margin: initial
    background-size: cover !important;
    .shadow
      text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000

  &.full-text::before
    content: ''
    background: rgba(0, 0, 0, 0.6)
    size: 80%
    position: absolute
    left: 10%
    top: 10%
    border-radius: 1em

v = zero one two three four five six \
  seven eight nine ten eleven twelve
pad = 20px
*, *:after, *:before
  box-sizing: border-box;
.grid
  img
    max-width: 100%
  width: 100%
  margin: 0 0 pad 0
  [class*='column']
    float: left
    padding: (pad / 2)

  &:after
    content: ""
    display: table
    clear: both

screen-sizes = {
  min: {
    xs: 480px
    sm: 768px
    md: 992px
    lg: 1200px
  }
  max: {}
}
screen-sizes.max.xs = screen-sizes.min.sm - 1px
screen-sizes.max.sm = screen-sizes.min.md - 1px
screen-sizes.max.md = screen-sizes.min.lg - 1px
screen-sizes.max.lg = 999999px
screens = xs sm md lg

plural(i)
  i > 1 ? 'columns' : 'column'

columns = 12

for s in screens
  @media (min-width: screen-sizes.min[s]) and (max-width: screen-sizes.max[s])
    for i in 1..columns
      .{v[i]}-{plural(i)}-{s}
        width: (100 * i / columns)%
      .{v[i]}-offset-{s}
        margin-left: (100 * i / columns)%
