.free
  position: absolute
  z-index: 2000
  .free-inner
    position: relative
    margin-top: -50%
    left: -50%

img.full
  width: 100%

.icon-link
  img
    max-width: 64px
    margin: auto
    display: block

small
  font-size: 50%

.block
  display: block

.center
  margin: auto

.thin
  font-weight: 300

padRight = 20px
values = zero one two three four five six seven eight nine ten eleven twelve
.row
  display: flex
  &.align-center:
    align-items: center
  .even
    flex-grow: 1

section
  &.full-text, &.full
    size: 100% 100%
    absolute: top left
    margin: initial
    background-size: cover !important;
    .shadow
      text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000

  &.full-text::before
    content: ''
    background: rgba(0, 0, 0, 0.6)
    size: 80%
    position: absolute
    left: 10%
    top: 10%
    border-radius: 1em
