doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='../common/posvaicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css')

  body

    include ../../utils/utils.jade

    article
      +section('flamingo-hello.gif')
        h1 Starter
        div.bottom
          a.pull-right.icon-link(href='https://github.com/posva')
            img.icon(src='../common/githubicon.svg')
            span posva
        +free('80%', '20%', '10deg')
          img(src='../common/lama-fabulous.gif')

      section
        h2 Some section

      +full('flamingo-hello.gif')
        h2 Happy Talk!

    script(src='build/build.js')
