doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='../common/posvaicon.png')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css')

  body

    include ../../utils/utils.jade

    article
      section
        h1 H1 title
        p This is a paragraph

      +section('flamingo-hello.gif')
        h1 Boilerplate
        +free('85%', '76%')
          a.icon-link(href='https://github.com/posva')
            img(src='../common/githubicon.svg')
            span posva
        +free('80%', '20%', '10deg')
          img(src='../common/lama-fabulous.gif')

      section
        h2 Inline code
          code.language-javascript var a;
        p This is a paragraph

      section
        h2 Code
        pre
          code.language-javascript.
            var a, b;
            a = 3;
            b = function() {
              return true;
            };

      section
        h2 Code long line
        pre
          code.language-coffeescript.
            a = 3
            b = ->
              thisIsASuperLongNameForAFunctionNobodyWillEverType()

      section
        h3 Vue format
        pre
          code.language-css.
            h1 {
              color: red;
            }

      section(data-bespoke-backdrop='emphatic')
        h2 This is a paragraph

      section
        h4 H4 title
        p This is a paragraph

      section
        h2 H2 title
        ul
          li element 1
          li element 2
          li element 3

      +full('flamingo-hello.gif')
        h2 Happy Talk!

    script(src='build/build.js')
