doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Slides by Ed

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='icon' type='image/png' href='common/posvaicon.png')

  body
    mixin slides(title, uri)
      a(href=uri)
        img(alt=title title=title width='320' src=uri + '/thumb.png')

    h1 Hi
    h5 This page will change in the future
    p Here are my slides
    include ./slides.jade
    //-+slides('Gotta Go Fast', 'ggf-vim')
    script(src='build/build.js')
